[Desktop Entry]
Name=XFCE-Синий-офис-ру

X-KDE-PluginInfo-Name=Rosa_Fresh
X-KDE-PluginInfo-Author=Rosalab
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
